body {
  text-align: center;
}

header {
  margin: 100px auto;
}

header h1 {
  font-size: 4rem;
  font-family: 'Righteous', cursive;
}

header select {
  margin: 40px 0 0 0;
  font-size: 1.5rem;
  height: 40px;
  width: 250px;
  text-align: center;
}

main {
  width: 90vw;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}

.image {
  width: calc(33.33% - 30px);
  height: 500px;
  box-sizing: border-box;
  float: left;
  margin: 15px;

  border-radius: 3px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: transform 400ms ease-out;
}

.image h2 {
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

img {  
  height: 350px;
  width: 350px;
}

.image p {
  box-sizing: inherit;
  padding: 5px 15px 0;
  font-size: 1.2em;
  height: 100px;
  line-height: 1.4em;
}

.image:hover {
  transform: scale(1.1);
}
